<div class="flex flex-wrap justify-center">
  <ng-container *ngIf="movies">
    <div *ngFor="let movie of movies" class="movie-card max-w-sm relative p-6 m-6 bg-white border border-gray-200
    rounded-lg shadow hover:bg-gray-100">
      <div class="movie-content">
        <a href="#">
          <h5 class="text-2xl font-bold tracking-tight text-gray-900">{{ movie.title }}</h5>
        </a>
        <div class="mb-2 text-gray-700 italic">{{ movie.genre }}, {{ movie.year }}</div>
        <div *ngIf="movie.director">
          <span class="font-bold text-gray-700">Director : </span>
          <span class="text-gray-700">{{ movie.director.firstName }} {{ movie.director.lastName }}</span>
        </div>
        <div *ngIf="movie.actors && movie.actors.length > 0" class="mb-3">
          <p class="font-bold text-gray-700">Actors:</p>
          <ul>
            <li class="text-gray-700" *ngFor="let actor of movie.actors">{{ actor.firstName }} {{ actor.lastName }}</li>
          </ul>
        </div>
        <a [routerLink]="['/details', movie.id]" class="details-button inline-flex items-center px-3 py-2 text-sm
        font-semibold text-center text-gray-800 bg-yellow-400 rounded-lg hover:bg-yellow-600 focus:ring-4 focus:outline-none
        focus:bg-yellow-400">
          Details
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
    </div>
  </ng-container>
</div>



